{% extends 'handball_app/base.html' %}
{% load static %}

{% block titulo %}
    Formulario Clubes
{% endblock titulo %}
{% block subtitulo %}
<p class="text-white-75 mb-5">Agrega un club a la base de clubes.</p>
<a class="btn btn-primary btn-xl" href="#datos">Agregar club!</a>
{% endblock subtitulo %}  

{% block about %}
    <h1 class="text-white mt-0">Agregar Clubes</h1>
{% endblock about %}  

{% block datos %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Agregar">
</form>      
{% endblock datos %}